@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,700");

body {
  margin: 0;
  font-size: 14px;
}

.App {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  min-width: 1024px;
}

p {
  margin: 16px;
  margin-top: 0;
  font-size: 100%
}

a {
  color: #1592e6;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logos img {
  height: 32px;
  padding: 16px;
}

.footer {
  padding: 48px;
  padding-bottom: 0;
  color: #B8B8B8;
  text-align: right;
  width: 100%;
}

.footer a {
  color: #B8B8B8;
}

.footer a:hover {
  color: #EAEAEA;
}

.hero {
  justify-content: center;
}

.hero img {
  width: 678px;
  height: 300px;
}

/* privacy link */
a .evidon-consent-link-text {
  color: #B8B8B8;
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}
a:hover .evidon-consent-link-text {
  color: #EAEAEA;
}