@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,700");

body {
  margin: 0;
  font-size: 14px;
}

.App {
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  min-width: 1024px;
}

p {
  margin: 16px;
  margin-top: 0;
  font-size: 100%
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logos img {
  height: 32px;
  padding: 16px;
}

.footer {
  padding-bottom: 0;
  color: #B8B8B8;
  text-align: right;
  width: 100%;
  margin-top: 16px;
}

.footer a {
  color: #B8B8B8;
}

.footer a:hover {
  color: #EAEAEA;
}

.hero {
  justify-content: center;
}

.hero img {
  width: 678px;
  height: 300px;
}

/* privacy link */
a .evidon-consent-link-text {
  color: #B8B8B8;
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}
a:hover .evidon-consent-link-text {
  color: #EAEAEA;
}

/* @media screen and (min-width: 800px) {
  .left {
    display: none;
    width: 0%;
    height: "100%";
    padding-left: 36;
  }
  .right {
    margin: auto;
    width: 50%;
  }
  .center {
    margin-top: 50;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    flex: "0 1 auto";
    padding: 20;
    width: 50%;

  }
} */

@media screen and (min-width: 1630px){
  .left {
    display: block;
    height: "100%";
    padding-left: 36;
  }
  .right {
    width: 23%;
    margin-left: 5%;
    margin-top: -5%;
    position: relative;
    height: 800px;
  }
  .center {
    margin-top: 50;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    flex: "0 1 auto";
    padding: 20;
  }
  .market {
    width: 830px;
    height: 870px;
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
    float: "left";
  }
  .right img {
    height: 245px;
    width: 245px;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1630px) {
  .left {
    display: block;
    height: "100%";
    padding-left: 36;
  }
  .right {
    width: 25%;
    margin-left: 5%;
    margin-top: -5%;
    position: relative;
    height: 710px;
  }
  .center {
    margin-top: 50;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    flex: "0 1 auto";
    padding: 20;
  }
  .market {
    width: 730px;
    height: 770px;
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
    float: "left";
  }
  .right img {
    height: 245px;
    width: 245px;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1359px) {
  .left {
    display: block;
    height: "100%";
    padding-left: 36;
  }
  .right {
    width: 25%;
    margin-left: 5%;
    margin-top: -5%;
    position: relative;
    height: 622px;
  }
  .center {
    margin-top: 50;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    flex: "0 1 auto";
    padding: 20;
  }
  .market {
    width: 630px;
    height: 670px;
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
    float: "left";
  }
  .right img {
    height: 220px;
    width: 220px;
  }
}

@media screen and (min-width: 950px) and (max-width: 1179px) {
  .left {
    display: block;
    height: "100%";
    padding-left: 36;
  }
  .right {
    width: 30%;
    margin-left: 5%;
    margin-top: -5%;
    position: relative;
    height: 521px;
  }
  .center {
    margin-top: 50;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    flex: "0 1 auto";
    padding: 20;
  }
  .market {
    width: 500px;
    height: 550px;
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)";
    float: "left";
  }
  .right img {
    height: 180px;
    width: 180px;
  }
}